#welcome-area {
    position: relative;
}

.welcomeMargin {
    margin-left: 50px;
}

.overlayText {
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
   color:white;
}

#welcome-img {
   position: absolute; 
   top: 200px; 
   left: 325px; 
   width: 100%;
   color: white;
}